a{
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    transition: all ease 0.5s;
}
nav{
    display: grid;
    gap: 0.25rem;
}
a:hover{
    background-color: lightgrey;
    color:#333
}
